<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764910176316-t43p21037ig4tsppo631et3agqjb21kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764910176316-t43p21037ig4tsppo631et3agqjb21kh</string>
	<key>API_KEY</key>
	<string>AIzaSyAYwi9TPs1qjaiJ5GqFocQizCx1dUHp9p0</string>
	<key>GCM_SENDER_ID</key>
	<string>764910176316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-97a3b</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-97a3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764910176316:ios:d106297f53114d12f45b39</string>
</dict>
</plist>